@import url('https://fonts.cdnfonts.com/css/pp-acma');

body{
    background-image: url('img/bg.png');
    background-size: cover;
    height: 100vh;

    font-family: 'PP Acma', sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    min-height: 100vh;
    overflow: hidden;
}

#landing{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

#landing button {
    font-weight: 900;
    padding: 10px 5px;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid rgba(190, 255, 85, 0.8);
    background: rgba(190, 255, 85, 0.8);
    color: #333;
    padding: 10px 50px;
    border: none;
    cursor: pointer;
    transition: .4s;
    margin-bottom: 20px;
    margin-left:15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

#landing button:hover{
    background: rgba(20, 20, 20, .8);
    padding: 10px 80px;
    color: white;
}

.transparencia{
    background: rgba(255, 255, 255, 0.5);
    width: 50em;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 15px;
}


/* .tabelaDados{
    margin-bottom: 15px;
    margin-top: 15px;
    border-collapse: collapse;
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    border-radius: 8px;
}

.tabelaDados th{
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 8px;
    text-align: left;
}

.tabelaDados td{
    padding: 8px;
}

.tabelaDados td:first-child, th:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
.tabelaDados td:last-child, th:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  } */


.botao{
    font-weight: 900;
    padding: 10px 5px;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid rgba(190, 255, 85, 0.8);
    background: rgba(190, 255, 85, 0.8);
    color: #333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: .4s;
    margin-top: 10px;
}

.botao:hover{ 
    background: rgba(20, 20, 20, .8);
    padding: 10px 40px;
    color: white;
}

.botao:disabled{
    border: 1px solid rgba(66, 66, 66, 0.8);
    background: rgba(66, 66, 66, 0.8);
    color: #ffffff;
    padding: 10px 20px;
}

.camp{
    margin-bottom: 15px;
    margin-top: 15px;
    border-collapse: collapse;
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    border-radius: 8px;
}

.camp th{
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 8px;
    text-align: left;
}

.camp td{
    padding: 8px;
}

.camp td:first-child, th:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
.camp td:last-child, th:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

.inputText{
    border-radius: 7px;
    margin-right: 15px;
}

table{
    border-collapse: separate;
    border-spacing: 0 10px;
}

td, a{
    font-weight: 600;
    font-size: 18px;
}

#btnVoltar{
  font-weight: 900;
    padding: 10px 5px;
    font-size: 15px;
    border-radius: 15px;
    border: 1px solid rgba(190, 255, 85, 0.8);
    background: rgba(190, 255, 85, 0.8);
    color: #333;
    padding: 10px 50px;
    border: none;
    cursor: pointer;
    transition: .4s;
    margin-top: 10px;
}